
/* general */

.mainPane .mainContainer {
	-fx-background-color: linear-gradient(to left, #a770ef, #cf8bf3, #fdb99b);
}

/* areas */

.projectExplorer, #codeArea{
	-fx-border-color: lightblue;
    -fx-border-insets: -1;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}
