
/* general */

.mainPane .mainContainer {
	-fx-background-color: linear-gradient(to left, #a770ef, #cf8bf3, #fdb99b);
}

/* search bar */

.closeSearchBtn {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.itemsFoundLabel {
    -fx-padding: 0 2 0 7;
}
.searchBoxLabelIcon {
    -glyph-size: 17;
    -glyph-name: SEARCH;
}

.closeSearchBtnIcon {
    -glyph-size: 18;
    -glyph-name: CLOSE;
}

/* areas */

.projectExplorer, #codeArea{
	-fx-border-color: lightblue;
    -fx-border-insets: -1;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

/* information bar */

#currentLineLabel, #currentCharacterLabel{
	-fx-padding: 0 0 0 50;
}
