
.closeSearchBtn {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.itemsFoundLabel {
    -fx-padding: 0 2 0 7;
}
.searchBoxLabelIcon {
    -glyph-size: 17;
    -glyph-name: SEARCH;
}

.closeSearchBtnIcon {
    -glyph-size: 18;
    -glyph-name: CLOSE;
}