

.mainPane {
	-fx-background-color : purple;
}

.mainPane .mainContainer .menuBarBox .mainWindowMenuBar {
	-fx-background-color : linear-gradient(#884dff, #aa80ff, #ddccff);
	-fx-font-size: 20;
	-fx-text-fill: white;
	
}
